.transparent {
    background-color: transparent !important;
    border-color: #1484F5;
}

.transparent:focus {
    outline: none !important;
    
}

.--tw-ring-shadow {
    outline: none;
}

.focus\:ring-4:focus {
    --tw-ring-color: none; /* Color personalizado del anillo */
    --tw-ring-offset-width: 0; /* Ancho del offset */
    --tw-ring-width: 0; /* Ancho del anillo */
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}